:root {
    --coffeeRed: #480b0b;
}
html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 1100px) {
    #line {
        display: none;
    }
    #sidebarList {
        display: none;
    }
}

.nav-item a:not(#activeNav):focus, .nav-item a:not(#activeNav):hover{
    background: var(--coffeeRed);
    border-radius: 5px;
    color: white;
}

#activeNav {
    color: white;
    text-decoration: underline var(--coffeeRed);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
}

.overlay-navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#sidebarList {
    list-style-type: none;
    padding: 30px;
    margin: 30px;
    position: absolute;
    top: 20%;
    list-style: none;
}

#sidebarList li {
    padding-top: 50px;
    color: white; 
    border-radius: 5px;
}

#sidebarList li a {
    all: unset;
}

#sidebarList .list {
    z-index: 1000; 
}

#line{
    position: absolute;
    top : 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 3px; /* Width of the vertical line */
    height: 60%; /* Height of the vertical line */
    background-color: #fff; /* Color of the vertical line */
    z-index: 2000; /* Ensure it's above the cover photo */
}

.motto {
    position: absolute;
    top: 35%;
    left: 34%;
    transform: translate(-50%, -50%);
    color: #fff; /* Text color */
    font-weight: bold; /* Adjust font weight */
    text-align: center; /* Center text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
    z-index: 2000; /* Ensure it's above the cover photo */
}

.motto2 {
    position: absolute;
    top: 45%;
    left: 34%;
    transform: translate(-50%, -50%);
    color: #fff; /* Text color */
    font-size: 24px; /* Adjust font size */
    font-weight: bold; /* Adjust font weight */
    text-align: center; /* Center text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
    z-index: 2000; /* Ensure it's above the cover photo */
}
.grid-cont img{
    display:grid;
    grid-template-columns: auto auto auto;
}

.container1 {
    display:flex;
    width: 33.33%;
    padding:50px;
}


/*menu*/

.buttonn{
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 2px solid transparent;
    border-color: #000;
    color: #000;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
}

.buttonn:hover {
    background-color: darkred;
}

.footerr{
    color:white;
    text-align:center;
    padding-top:20px;
    padding-bottom:10px;
}


.productCategory {
    background-size: 100% 100%; 
    box-shadow: 10px 10px 15px;
    cursor: pointer;
}
.productCategory:hover {
    background-size: 100% 100%; 
    box-shadow: 15px 15px 30px 10px var(--coffeeRed);
    border-style: solid;
    border-width: 5px;
    border-color: white;
}